<p id="notice"><%= notice %></p>

<div class="cards">
  <% @companies.each do |company| %>
    <%= link_to company_path(company), class: 'card' do %>
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
      </div>
      <div class="card-header">
        <%= company.name %>
      </div>
      <div class="card-copy">
        <strong>Description:</strong>
        <p><%= company.description %></p>
        <strong>Website:</strong>
        <p><%= company.website %></p>
        <strong>Email:</strong>
        <p><%= company.email %></p>
        <strong>Phone:</strong>
        <p><%= company.phone %></p>
        <strong>Address:</strong>
        <p><%= company.street %></p>
        <p><%= company.city %>, <%= company.state %>, <%= company.zip %>
    </div>
  <% end %>
<% end %>
</div>

