<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Website</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Street</th>
      <th>Phone</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.email %></td>
        <td><%= company.website %></td>
        <td><%= company.city %></td>
        <td><%= company.state %></td>
        <td><%= company.zip %></td>
        <td><%= company.street %></td>
        <td><%= company.phone %></td>
        <td><%= company.description %></td>
        <td><%= link_to 'Show', company %></td>
      </tr>
    <% end %>
  </tbody>
</table>
