<p id="notice"><%= notice %></p>

<h1><%= @company.name %></h1>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<%= @company.street %>
<%= @company.city %>, <%= @company.state %>, <%= @company.zip %>

<hr />

<p>
<strong>Locations:</strong>
<% @locations.each do |location| %>
    <li><%= link_to location.name, location %></li>
  <% end %>
</p>

<hr />

<%= link_to 'Back', companies_path %>
