<p id="notice"><%= notice %></p>

<div class="cards">
  <% @rooms.each do |room| %>
    <div class="card" onclick="window.location='/rooms/<%= room.id %>'">
      <div class="card-copy">
        <h1>
          <%= room.name %> at <%= room.location.name %>
        </h1>
        <p>
          <%= room.description %>
        </p>
      </div>
    </div>
  <% end %>
</div>
