
<div class="side-image">
  <div class="images-wrapper"></div>
  <div class="side-image-content">
    <h4><%= @room.name %> -- <%= @room.location.name %></h4>
    <p><%= @room.description %></p>
    <h4>Address</h4>
    <p>
      <%= @room.location.street %>
      <%= @room.location.city %>, <%= @room.location.state %>, <%= @room.location.zip %>
    </p>
  </div>
  <% @room.photos.each do |photo| %>
    <%= photo.name %>
  <% end %>
</div>


<%= link_to 'Back', rooms_path %>
