<p id="notice"><%= notice %></p>

<%= javascript_tag do %>
  var locationMarker = {
    lat: <%= @location.latitude %>,
    lon: <%= @location.longitude %>
  }

  bittersMap(locationMarker).init();

  <% end %>

<h1><%= @location.name %> </h1>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<%= @location.street %>
<%= @location.city %>, <%= @location.state %>, <%= @location.zip %>


<p>
  <strong>Email:</strong>
  <%= @location.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @location.phone %>
</p>

<p>
  <% if !@location.start_time.nil? %>
  <strong>Opens</strong>
  <%= @location.start_time.strftime('%I:%M %p') %>

  <strong>Closes</strong>
  <%= @location.end_time.strftime('%I:%M %p') %>
  <% end %>
</p>

<hr />

<h3>Rooms:</h3>
<ul>
  <% @rooms.each do |room| %>
    <li><%= link_to room.name, room_path(room) %></li>
  <% end %>
</ul>

<%= link_to 'Back', locations_path %>
