<nav>
  <ul>
    <li>
      <a href='#'><span class="icon-search js-menu-trigger sliding-panel-button">Search</span></a>
    </li>
    <li>
      <%= link_to locations_path do %>
        <span class="icon-map">Browse</span>
      <% end %>
    </li>
    <li>
      <%= link_to companies_path do %>
        <span class="icon-clipboard">Itinerary</span>
      <% end %>
    </li>
    <li>
      <%= link_to companies_path do %>
        <span class="icon-books">Learn</span>
      <% end %>
    </li>
    <br/>
    <!-- devise login / logout links -->
    <% if user_signed_in? %>
      <li>
        <%= link_to edit_user_registration_path do %>
          <span class="icon-cog">Settings</span>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do%>
          <span class="icon-enter">Logout</span>
        <% end %>
      </li>
    <% else %>
      <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <li><%= link_to 'Sign In', new_user_session_path %></li>
    <% end %>
  </ul>
</nav>
