<!DOCTYPE html>
<html>
<head>
  <title>EscapeWorld</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li>
        <%= link_to companies_path do %>
          <span class="icon-search js-menu-trigger sliding-panel-button">Search</span>
        <% end %>
      </li>
      <li>
        <%= link_to companies_path do %>
          <span class="icon-map">Browse</span>
        <% end %>
      </li>
      <li>
        <%= link_to companies_path do %>
          <span class="icon-clipboard">Itinerary</span>
        <% end %>
      </li>
      <li>
        <%= link_to companies_path do %>
          <span class="icon-books">Learn</span>
        <% end %>
      </li>
      <li>
        <%= link_to companies_path do %>
          <span class="icon-cog">Settings</span>
        <% end %>
      </li>

      <li><%= link_to 'Locations', locations_path %></li>
      <li><%= link_to 'Rooms', rooms_path %></li>
      <!-- devise login / logout links -->
      <% if user_signed_in? %>
        <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>

  <div class="container">
    <div id="map_canvas"><div class='animate-target animated alternate iteration zoomOut'></div></div>
    <div class="js-menu sliding-panel-content">
      <h2>Search an area:</h2>
      <input class="typeahead" type="text" placeholder="City">
    </div>
    <%= yield %>
  </div>

  <!--<script src="https://maps.googleapis.com/maps/api/js"></script>-->
</body>
</html>
