<!DOCTYPE html>
<html>
<head>
  <title>EscapeWorld</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header><h1>EscapeWorld</h1></header>
  <nav>
    <ul>
      <li><%= link_to 'Companies', companies_path %></li>
      <li><%= link_to 'Locations', locations_path %></li>
      <li><%= link_to 'Rooms', rooms_path %></li>
    </ul>
  </nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
